html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

/* Header CSS */

.main-header {
  /* background-color: rgba(5, 239, 247, 0.3); */
  padding: 40px;
  padding-left: 300px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.ytmLogo {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.headerTextGroup {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left;
  margin: 0;
  font-size: 6em;
  font-family: "Inter";
  font-weight: bold;
  color: white;
}

.subtitle {
  text-align: left;
  margin: 0;
  font-size: 4em;
  font-family: "Inter";
  font-weight: normal;
  color: rgba(255, 255, 255, 0.75);
}

/* Search CSS */

.Search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 305px;
  padding-top: 20px;
}

input[type="text"] {
  text-align: left;
  background-color: #333333;
  border: 1px solid #ccc;
  padding-right: 10px;
  height: 80px;
  width: 900px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin-right: 0px;
  padding-left: 10px;
}

/* Dropdown CSS */

.dropdown-button {
  background-color: #333333;
  border: 1px solid #ccc;
  color: white;
  padding: 12px 20px;
  font-size: 30px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 305px;
  margin-bottom: 20px;
}

.dropdown-content {
  font-family: "Inter";
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  border-radius: 8px;
  z-index: 1;
  right: 0;
  margin-right: 305px;
  border: 1px solid #ccc;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #555555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #555555;
}

.dropdown-content a.active {
  background-color: #777777;
}

.dropdown-content a.deactive {
  background-color: #333333;
}

/* Button CSS */

.Button {
  display: flex;
  justify-content: left;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 275px;

}

.Button button:hover {
  background-color: #555555;
}

.Button button.active {
  background-color: #777777;
}

.Button button.deactive {
  background-color: #333333;
}

button {
  text-align: center;
  background-color: #333333;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  width: 125px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin: 30px;
  margin-right: 0px;
  margin-top: 20px;
}

/* Card CSS */

#card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 30px;
  justify-content: center;
  margin: 0px;
  justify-items: center;
  padding-left: 275px;
  padding-right: 275px;
}

.card {
  width: 450px;
  height: 600px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin: 0;
}

.card-content {
  padding: 25px;
  font-family: "Inter";
  color:rgba(255, 255, 255, 0.75);
}

/* Album Card */
#card-container-Album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 30px;
  justify-content: center;
  margin: 0px;
  justify-items: center;
  padding-left: 275px;
  padding-right: 275px;
}

.cardAlbum {
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden; /* This hides anything that sticks out */
}

.card-content-Album {
  padding: 25px;
  font-family: "Inter";
  color:rgba(255, 255, 255, 0.75);
  display: none;
}

.cardAlbum img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.card-content-Album h5 {
  font-family: "Inter";
  font-weight: normal;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

.card-content-Album h6 {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 30px;
  line-height: 1.4;
}

/* Image CSS */

.image-crop {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* centers image horizontally */
  align-items: center;     /* centers image vertically */
  position: relative;
}

.image-crop img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* this ensures it fills the crop box without stretching */
  display: block;
}

.image-crop h6 {
  position: absolute;
  bottom: 8px;
  right: 8px;
  margin: 0;
  padding: 4px 8px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #333333;
  border: 1px solid #ccc;
  z-index: 1;
  pointer-events: none;
}

.card img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.card-content h2 {
  font-family: "Inter";
  font-weight: normal;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

.card-content h3 {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content h4 {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 1.4;
}

.card-content h5 {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 1.4;
}

